%h1 Listing books

%table
  %thead
    %tr
      %th Name
      %th Author
      %th Description
      %th Price
      %th Availability
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.name
        %td= book.author
        %td= book.description
        %td= book.price
        %td= book.availability
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
