%p#notice= notice

%p
  %b Name:
  = @book.name
%p
  %b Author:
  = @book.author
%p
  %b Description:
  = @book.description
%p
  %b Price:
  = @book.price
%p
  %b Availability:
  = @book.availability

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
